# Serverconfigurations

# Einstellungen
AddCharset UTF-8 .php


# Fehlerhandhabung
ErrorDocument 404 /Metis/error_404.php
ErrorDocument 401 /Metis/index/error.php?error=401
ErrorDocument 403 /Metis/index/error.php?error=403
ErrorDocument 500 /Metis/index/error.php?error=500
ErrorDocument 503 /Metis/index/error.php?error=503

# Zugriffsverweigerung
<FilesMatch "\.(htaccess|htpasswd|sql|inc.php)$">
Order Allow,Deny
Deny from all
</FilesMatch>