nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #b2b2b2, #949494, #b2b2b2);
}

nav button:hover {
    color: white;
    background-color: #2196F3;
}

nav input {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 200px;
}

button {
    float: inherit;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav button:hover {
    background: #ccc;
}

@media screen and (max-width: 900px) {
    nav.login-container {
        float: none;
    }

    nav a, nav input, button {
        float: none;
        display: block;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

        nav input[type=text] {
            border: 1px solid #ccc;
        }
}
